{% include 'sitio/cabecera.html' %}


            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                    <div
                        class="h-100 p-5 text-white bg-primary border rounded-3"
                    >
                        <h2>Bienvenido</h2>
                        <p>
                            Explora nuestro sitio web ¡Te va a encantar!.
                        </p>
                        <a
                            name=""
                            id=""
                            class="btn btn-outline-light"
                            href="/libros"
                            role="button"
                            >Ver libros disponibles</a>
                        
                    </div>
                </div>
            </div>
            
        
{% include 'sitio/pie.html' %}
    