{% include 'admin/cabecera.html' %}


<div class="container">
    <div class="row">
        <div
            class="col-md-5"
        >
            <div class="card">
                <div class="card-header">Datos del libro</div>
                <div class="card-body">
                    <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txtNombre"
                                id="txtNombre"
                                aria-describedby="helpId"
                                placeholder="Escriba el nombre del libro"
                                value="{{ registro_libro[1] if registro_libro else ''}}"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input
                                type="file"
                                class="form-control"
                                name="txtImagen"
                                id="txtImagen"
                                aria-describedby="helpId"
                                placeholder="Seleccione su Imagen"
                            />
                            {% if registro_libro and registro_libro[2] %}
                                <img src="templates/sitio/img/{{  registro_libro[2] }}" alt="Imagen del libro" class="img-thumbnail mt-2" style="max-width: 200px;">

                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="txtUrl" class="form-label">URL de Descarga:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txtUrl"
                                id="txtUrl"
                                aria-describedby="helpId"
                                placeholder="Escriba la URL de Descarga"
                                value="{{ registro_libro[3] if registro_libro else '' }}"
                            />
                        </div>
                        
                        <input type="hidden" name="id" value="{{ registro_libro[0] if registro_libro else '' }}">
                        
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                           {{ 'Editar' if registro_libro else 'Agregar'}} 
                        </button>


                    </form>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
            
        </div>
        <div
            class="col-md-7"
        >
           <div
            class="table-responsive-md"
           >
            <table
                class="table"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">URL</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elemento in lista_libros %}
                    <tr>
                        
                        <td>{{ elemento[0] }}</td>
                        <td>{{ elemento[1] }}</td>
                        <td>
                            <img width="60" height="80"
                                src="/img/{{ elemento[2] }}"
                                class="img-fluid rounded-top"
                                alt="{{ elemento[2] }}"
                            />
                        </td>
                        <td>
                           
                            <a
                                name=""
                                id=""
                                class="btn btn-success"
                                href=" {{ elemento[3] }}"
                                role="button"
                                >Enlace</a
                            >
                            
                          
                        </td>
                       
                        <td>
                            <form action="/admin/libros/seleccionar" method="post">
                                <input value="{{ request.args.get('page', 1) }}" type="hidden" name="page">
                                <input value="{{ elemento[0] }}"type="hidden" name="txtID" id="txtID">

                                <button
                                    type="submit"
                                    class="btn btn-info"
                                >
                                    Selecionar
                                </button>
                            </form>
                            <br>
                            <form action="/admin/libros/borrar" method="post">
                                <input value="{{ elemento[0] }}"type="hidden" name="txtID" id="txtID">
                                <button
                                    type="submit"
                                    class="btn btn-danger"
                                >
                                    Eliminar
                                </button>
                                
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{ pagination.links}}
                </ul>
            </nav>
           </div>
           
        </div>
        
    </div>
</div>







{% include 'admin/pie.html' %}